<section class="bg-light" id="about">

      <div class="container">
	      
	    <div class = "row">
		    
	    	<div class ="col-lg-6">
			<h1>About me</h1>
			<p class = "font-weight-light tab">I'm Brandon. I'm a current Global Master of Management Analytics student at the Smith School of Business and a Queen'sU Physics & Math alum.
			Professionally, my passion lies in data science and software development. I am most excited about my work when I am working to help find data and technology based solutions to real world problems to help enrich the lives of others. I have a particular interest in
			healthcare, wellness and outreach based applications and it is my long-term goal to be able to help bring data based problem solving and technical know-how to these areas.
			On the technical side of things, I have extensive experience working with large datasets, developing mathematical and computational models and applying machine learning concepts to a variety of problems.
			I am quite proficient with Python, HTML and CSS and I am presently improving my ability with Java. If you scroll down you will find examples of some of my more interesting projects, most notably my work on the SuperCOOP project; 
			a recreation of the 1972 Nobel Prize-winning BCS theory experiment. At the moment, you'll find me building webpages for several clients, preparing for my upcoming internship with the KoBo Toolbox project and brushing up on my Spanish when I can find the time.
			I'm always in the market for new challenges and opportunties so please feel free to contact me if you have a project or team that you believe I can help with, a question, or would just like to chat.
			</p>		    
		    </div>
	     
		<div class ="col-lg-6">
			<br><br><br>
		     <img src="img/Headshot.jpg" class="img-thumbnail img-fluid">
		    </div>
		
		</div>
	
	</div>
	

</section>
