<section class="bg-light" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch</h2>
                <hr class="primary">
                <p>Have a project or team you think I can contribute to? That's great! <br> Give me a call or send me an email
                    and let's see what we can accomplish together.</p>
            </div>
         
 <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i style = "color: #F05F40"class="fa fa-github fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i style = "color: #F05F40" class ="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i style = "color: #F05F40" class ="fa fa-linkedin fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            </div>
<body class="d-flex flex-column">
  <div id="page-content">
    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-md-7">
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>&copy;2019 Brandon Toushan</small>
    </div>
  </footer>
</body>
