<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Thomas Mosher.</h1>
            <hr>
            <p>I'm a Canada based <b>data scientist</b>, <b>developer</b> and <b>student</b> with expertise
                in python programming, mathematical modelling and computational analysis.<br>
                <a class="page-scroll" href="#about">Scroll</a> to learn more about me.<p> 
           
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
        
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
                <i class="fa fa-linkedin fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
         </div> <br><br><br><br><br><br>
                     
 </header>
