<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/BrandonToushan/SuperCOOP" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-thumbnail" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                SuperCOOP Project (Queen's University)
                            </div>
                            <div class="project-name">
                                Fitted Experimental Results & Residuals for Normalized Differential Conductance Curve of Superconducting 99% Nb-Ta Foil via SciPy and Matplotlib                            
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/BrandonToushan/Machine_Learning/blob/master/machine_learning_wine.py" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-thumbnail" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Personal Machine-Learning Project (Brandon Toushan)
                            </div>
                            <div class="project-name">
                                Scatter Matrix of Chemical Properties for Geographical Wine Region Identification Algorithm via Scikit-learn and Pandas
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/BrandonToushan/Physics_Math_Stats/blob/master/isotropic_decay_model.py" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-thumbnail" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                PHYS 313 (Computational Physics) Coursework (Queen's University)
                            </div>
                            <div class="project-name">
                                3-D Projection of Monte Carlo Model for the Isotropic Decay of Mn-54 via NumPy and Matplotlib
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
